<h1>Collection#show</h1>
<div id="content">
  <table class="table table-striped agent attributes">
    <thead>
      <tr align="left"><th>Attribute name</th><th>Attribute values</th></tr>
    </thead>
      <tr><td>Title: </td><td><%= @model.title.first %></td></tr>
      <% if @model.description.size() > 0 %>
        <tr><td>Description: </td><td><%= @model.description.first %></td></tr>
      <% end %>
      <% if @model.date_created.size() > 0 %>
        <tr><td>Date Created: </td><td><%= @model.date_created.first %></td></tr>
      <% end %>
      <% if @model.publisher_ids.size() > 0 %>
        <tr><td valign="top">Publisher: </td><td>
          <% @model.publisher_ids.each do |publisher_id| %>
            <% @agents.each do |rec| %>
              <% if (rec.id.to_s == publisher_id) %>
                <div><%= link_to rec.label.first, agent_path(rec.id) %></div>
              <% end %>
            <% end %>
          <% end %>
        </td></tr>
      <% end %>
      <% if @model.member_collection_ids.size() > 0 %>
        <tr><td valign="top">Child Collections: </td><td>
          <% @model.member_collection_ids.each do |member_id| %>
            <% @collections.each do |rec| %>
              <% if (rec.id.to_s == member_id) %>
                <div><%= link_to rec.title.first, collection_path(rec.id) %></div>
              <% end %>
            <% end %>
          <% end %>
        </td></tr>
      <% end %>
    </tbody>
  </table>
  <button type="button" onclick="document.location='<%= edit_collection_path @model %>'">Edit</button>
</div>
